body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    color: #f0f2f6;
    height: 100vh;
}

.container{
    padding: 30px;
    border-radius: 12px;
    width: 320px;
    text-align: center;
    background-color: rgb(201, 103, 201);
}

h1{
    margin-bottom: 5px;
}

input, button{
    width: 100%;
    margin-top: 12px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

button{
    background-color: rgb(40, 144, 14);
    color: white;
    cursor: pointer;
}

.output{
    display: flex;
    gap: 8px;
}

.strength {
  margin-top: 30px;
  font-weight: bold;
}

.strength.weak {
  color: white; 
  -webkit-text-stroke: 1px red;
  letter-spacing: 0.08em
}

.strength.medium {
  color: white; 
  -webkit-text-stroke: 1px rgb(239, 186, 12);
  letter-spacing: 0.08em
}

.strength.strong {
  color: white; 
  -webkit-text-stroke: 1px rgb(28, 240, 70);
  letter-spacing: 0.08em
}
